body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.account {
    margin: auto;
    padding-top: 10%;
    width: 50%;
}
.UserBanner {
    margin: auto;
    padding-top: 2%;
    width: 100%;
}
.UserPicture {
	position: absolute;
	padding-top: 0%;
	right: 20%;
	top: 33%;
	background-color: white;
	border: 5px white solid;
	/* box-shadow: 0px 0px 3px 1px rgba(0,0,0,.6); */
}
.ProfileInfo {
	background-color: white;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,.6);
	height: 300px;
	margin-bottom: 2%;
	
}